body {
  background-color:transparent;
}

body {
}

#status {
  position:absolute;
  top:70%;
  width:40%;
}

#status .row {
  height:20px;
}

#skills {
  position:absolute;
  top:80%;
  right:0px;
  width:400px;
  height:500px;
}

#buffs {
  position:absolute;
  top:65%;
  right:0px;
  width:50%;
  height:64px;
}

#skill4 {
}

img {
  width:64px;
  height:60px;
}

